@import "node_modules/bootstrap/scss/bootstrap";
@import 'toastr/toastr.scss';

#main {
  margin-top: 75px;
}

$teal: #008080;
$blue-grey: #bfccc6;
$sickly-green: #14ea10;
$green-accept: #42f44e;
$red-deny: #cc2020;

.navbar {
  background-color: $teal;
}

.nav-link {
  color: $blue-grey;
}

.nav-link:hover,
.nav-link:focus {
  color:  darken( $blue-grey, 20% );
}

.nav-link.active,
.nav-link.active:hover,
.nav-link.active:focus {
  color:  $sickly-green;
}

.fr-btn {
  width:200px;
}

.btn-accept {
  background-color: $green-accept;
  width:200px;
}

.btn-accept:hover,
.btn-accept:focus {
  background-color: darken($green-accept, 20%);
}

.btn-deny {
  background-color: $red-deny;
  width:200px;
}

.btn-deny:hover,
.btn-deny:focus {
  background-color: darken($red-deny, 20%);
}

/*.navbar-nav > li > a {
  color:  $blue-grey;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color:  darken( $blue-grey, 20% );
}
.navbar-nav > li > a.router-link-active,
.navbar-nav > li > a.router-link-exact-active,
.navbar-nav > li > a.active {
  color: $sickly-green;
}*/